[Desktop Entry]
Type=Application
Name=Rocket.Chat
GenericName=Rocket.Chat
Comment=Official OSX, Windows, and Linux Desktop Clients for Rocket.Chat
Exec=sh -c "sleep 5 && /opt/Rocket.Chat/rocketchat-desktop"
Icon=rocketchat-desktop
Terminal=false
StartupNotify=true
StartupWMClass=Rocket.Chat
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/rocketchat;

# Autostart (GNOME / XDG)
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=15
